<section class="sub-page" id="advisorycommittee">
  <div class="row">
  <div class="col-md-8">
  <div class="left">
    <h1>Advisory Committee</h1>
    <hr>
    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Vincenzo Piuri</b>  University of Milan, Italy<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Aboul Ella Hassanien</b>  Cairo University, Egypt<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Marcin Paprzycki</b>  Associate Professor, Polish Academy of Science, Poland<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Valentina Emilia Balas</b>  Aurel Vlaicu University of Arad, Romania<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Marius Balas</b>  Aurel Vlaicu University of Arad, Romania<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Mohamed Salim Bouhlel</b>  Sfax University, Tunisia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Cenap Ozel</b>  King Abdulaziz University, Saudi Arabia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Ashiq Anjum</b>  University of Derby, Bristol, UK<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Mischa Dohler</b>  King’s College London, UK<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Siddhartha Bhattacharyya</b>  Principal, RCC Institute of Information Technology, Kolkata, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) David Camacho</b>  Associate Prof, Universidad Autonoma de Madrid,Spain<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Parmanand</b>  Dean, Galgotias University, UP, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Salah-ddine Krit</b>  University Ibn Zohr – Agadir, Morocco<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Sanjay Kumar Biswash</b>  Research Scientist INFOCOMM Lab, Russia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Maryna Yena S</b>  Senior Lecturer Medical University of Kiev, Ukraine<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Giorgos Karagiannidis</b>  Aristotle University of Thessaloniki, Greece<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Tanuja SRIVASTAVA</b>  Dept of Mathematics, IIT Roorkee<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. D Jude Hemanth</b>  Associate Professor, Karunya University, Coimbatore<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Tiziana Catarci</b>  Sapienza University, Rome, Italy<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Salvatore Gaglio</b>  University Degli Studi di Palermo, Italy<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Bozidar Klicek</b>  University of Zagreb, Croatia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) A.K. Singh</b>  NIT Kurukshetra, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Anil Kumar Ahlawat</b>  KIET Group of Institutes, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Chang-Shing Lee</b>  National University of Tainan, Taiwan<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Paolo Bellavista</b>  Associate Prof, Alma Mater Studiorum–Università di Bologna<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Sanjay Misra</b>  Covenant University, Nigeria<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Benatiallah ali</b>  Associate Professor&nbsp;Adrar University, Algeria<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Suresh Chandra Satapathy</b>  PVPSIT, Vijayawada, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Marylene Saldon-Eder</b>  Mindanao University of Science and Technology<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Özlem ONAY</b>  Anadolu University, Eskisehir TURKEY<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Miss Rubelyn W. Coronel</b>  Datu Abing St., Calinan, Davao City<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Kei Eguchi</b>  Dept. of Information Electronics, Fukuoka Institute of Technology<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Zoltan Horvath</b>  Professor, Kasetsart University<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. AKM Matiul Alam</b>  Vancouver British Columbia, Canada<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Joong Hoon Jay Kim</b>  Korea University<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Sheng-Lung Peng</b>  National Dong Swa Uinversity, Taiwan<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Daniela Lopez De Luise</b>  CI2S Lab, Argentina<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Dac-Nhuong Le</b>  Haiphong University, Vietnam<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Dusanka Boskovic</b>  University of Sarajevo, Sarajevo<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Periklis Chat Zimisios</b>  Alexander TEI of Thessaloniki, Greece<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Nhu Gia Nguyen</b>  Duy Tan University, Vietnam<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Huynh Thanh Binh</b>  Hanoi University of Science &amp; Technology, Vietnam<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Ahmed Faheem Zobaa</b>  Brunel University, London<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Dac-Nhuong Le</b>  Haiphong University, Haiphong, Vietnam<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Olema Vincent</b>  Uganda<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Kirti Tyagi</b>  Inha University, Tashkent<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Ladjel Bellatreche</b>  Poitiers University, France<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Victor C.M. Leung</b>  The University of British Columbia, Canada<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Huseyin Irmak</b>  Cankiri Karatekin University, Turkey<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Alex Norta</b>  Associate Professor, Tallinn University of Technology, Estonia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Amit Prakash Singh</b>  GGSIPU, Delhi, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Abhishek Swaroop</b>  Bhagwan Parshuram Institute of Technology, Delhi<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof Christos Douligeris</b>  University of Piraeus, Greece<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof Christos Douligeris</b>  University of Piraeus, Greece<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Brett Edward Trusko</b>  President &amp; CEO(IAOIP) and Assistant Professor, Texas A&amp;M University, Texas<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) R.K. Datta</b>  Director, MERIT<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof (Dr.) Joel J. P. C. Rodrigues</b>  National Institute of Telecommunications (Inatel), Brazil; Instituto de Telecomunicações, Portugal<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof (Dr.) Victor Hugo C. de Albuquerque</b>  University of Fortaleza (UNIFOR), Brazil<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Atta ur Rehman Khan</b>  King Saud University, Riyadh<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. João Manuel RS Tavares</b>  Professor Associado com Agregação FEUP - DEMec<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Ravish Saggar</b>  Director, Banarsidas Chandiwal Institute of Information Technology, Delhi<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Professor(Dr) Ku Ruhana Ku Mahamud</b>  School of Computing, College of Arts &amp; Sciences, Universiti Utara Malaysia, Malaysia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof. Ghasem D. Najafpour</b>  Babol Noshirvani University of Technology, IRAN<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Sanjeevikumar Padmanaban</b>  Aalborg University, Denmark<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Frede Blaabjerg, President (IEEE Power Electronics Society)</b>  Aalborg University, Denmark<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Jens Bo Holm Nielson</b>  Aalborg University, Denmark<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Venkatadri Marriboyina</b>  Amity University, Gwalior, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Pradeep Malik</b>  Vignana Bharathi Institute of Technology (VBIT), Hyderabad, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Abu Yousuf</b>  Asst.Prof University Malaysia Pahang Gambang, Malaysia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr.  Ahmed A. Elngar</b>  Assistant professor  Faculty of Computers and Information,  Beni-Suef University, Beni Suef, Salah Salem Str., 62511 Egypt<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Dijana Oreski</b>   Faculty of Organization and Informatics, University of Zagreb, Varazdin, Croatia<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Dhananjay Kalbande</b>  Professor and Head, Sardar Patel Institute of Technology, Mumbai, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Avinash Sharma</b>  Maharishi Markandeshwar Engineering College, MMDU Campus, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Sahil Verma</b>  Lovely Professional	University, Phagwara, india<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Kavita</b>  Lovely Professional	University, Phagwara, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof Prasad K Bhaskaran</b>  Professor and Head of Department, Ocean Engineering &amp; Naval Architecture, IIT Kharagpur<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Akash Kumar Bhoi</b>  Sikkim Manipal Institute of Technology (SMIT)<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Yousaf Bin Zikria</b>  Yeungnam University, South Korea<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Sanjay Sood</b>  Associate Director at C-DAC, Mohali<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Ajay Rana</b>  Senior Vice President &amp; Advisor - Amity Education Group, Amity University, Noida, India<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Dr. Florin Popentiu Vladicescu</b>  University Politehnica of Bucharest, Romania<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Pawel Gren</b>  Jan Wyzykowski University, Poland<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Naveen Kumar</b>  Department of Computer Science, University of Delhi<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Punam Bedi</b>  Department of Computer Science, University of Delhi<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Vasudha Bhatnagar</b>  Department of Computer Science, University of Delhi<br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <b>Prof(Dr.) Neelima Gupta</b>  Department of Computer Science, University of Delhi<br>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
