<section class="sub-page" id="call_for_papers">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
      <h1>Call for Papers</h1>
      <hr>
      <p>
          We invite submission for the following two tracks.<br>
          <ul style="list-style: disc;">
            <li><b>Track 1:</b> Research Design presentation - Papers are invited from those scholars who are in their initial stages of PhD. Research scholars who have completed their course work and have made progress in research proposal are expected to participate. Participants in this track are not expected to present any estimation results and are requested to follow the following structure for paper submission:
            Introduction, Extensive literature survey, Research gaps, Objectives, Proposed Hypothesis, Proposed Methodology, Expected contribution to the literature.
            </li>
            <li><b>Track 2:</b> Advanced research paper presentation - Track two is for scholars who are in their advanced stages of thesis or have just completed their PhD. Research scholars who have made progress in thesis work and are near to submission/ submitted and waiting for defence are expected to participate. It is also important for the researchers who have just completed their PhD or Post Doc or M tech. to summarize their research work in a single short paper with describing the future direction of your work with new findings or results. Participants are requested to follow the following structure for paper submission: Introduction, Extensive literature review, Research gaps, Objectives, Hypothesis, Methodology, interpretation of results, Conclusion and policy or managerial implications, and future outcomes or areas of their research work.</li>
          </ul>
      </p>
      <h1>Themes</h1><hr>
				<p>
				<ul style="list-style: disc;" >
				<li><strong><span  >Computational Intelligence</span></strong>
					<ul  style="list-style: circle; margin-left: 20px;">
					<li ><span  >Artificial Intelligence</span></li>
					<li><span  >Deep Learning</span></li>
					<li><span  >Evolutionary algorithms</span></li>
					<li><span  >Swarm Intelligence</span></li>
					<li><span  >Fuzzy sets and vague sets</span></li>
					<li><span  >Rough set theoretic approaches</span></li>
					<li><span  >Quantum inspired computational intelligence</span></li>
					<li><span  >Hybrid Computational Intelligence</span></li>
					<li><span  >Machine Learning</span></li>
					<li><span  >Computer Vision</span></li>
					<li><span  >Soft Computing</span></li>
					<li><span  >Distributed Computing</span></li>
					<li><span  >Parallel and Grid Computing</span></li>
					<li><span  >Cloud Computing</span></li>
					<li><span  >High Performance Computing</span></li>
					<li><span  >Biomedical Computing</span></li>
					<li><span  >Decision Support and Decision making</span></li>
					</ul>
				</li>
				</ul>
				</p><br>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150">
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="left">
        <p>
          <b>The papers submitted to the conference will be peer reviewed and published as proceedings in Springer(Proposed)</b>
          <hr />
          All papers will undergo a blind peer review process and all accepted papers will be published in the SHORT
          NAME conference e-proceedings with an e-ISBN number. The conference organizer encourages submissions of academic
          and research papers that consider the multidisciplinary/interdisciplinary themes covering the Management,
          Science and Social Studies, through one of the following sub-themes, although submissions of other topics for
          consideration are also welcome.
        </p>
      </div>

    </div>


  </div>
</section>
