<section class="sub-page" id="conference_venue">
  <div class="row">
    <div class="col-md-8">
      <h1 class="custom-font">Symposium Venue</h1>
      <hr>
      <h3> <b> 2ND DOCTORAL SYMPOSIUM ON COMPUTATIONAL INTELLIGENCE (DOSCI 2021)</b> </h3>
      <h4> <b>14th March,2021 </b><h4>
      <h4> <b>Organized by Institute of Engineering & Technology, a constituent college of Dr APJ Abdul Kalam Technical University Lucknow, India</b></h4>
    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
          <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
  <div class="mapouter" style="width: 100%"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Institute%20of%20Engineering%20%26%20Technology%2C%20lucknow&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2piratebay.org">the pirate bay - bt download</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:100% ;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100% ;}</style></div>
</section>
