<section class="sub-page" id="about_institute">
    <div class="row">
      <div class="col-md-8">
        <div class="left">
          <h1><b>DoSCI-2022</b></h1>
          <p>
            Third version of International Conference in innovative Computing and Communication (ICICC-2022) was organized at Institute of Engineering and Technology, a constituent college of Dr APJ Abdul Kalam Technical University Lucknow, India on 5th March 2022. DoSCI-2022 received 250 papers from approximately 1600 authors and a total of 72 papers were accepted with an acceptance ratio of 28%. All accepted papers were published in Springer's Lecture Notes on Networks and Systems, an scopus indexed series. A total of 150 participants attended the conference including authors, keynotes, delegates, academicians, and industry experts. DoSCI-2022 received papers from 18 countries. Due to unexpected COVID-19, DoSCI-2022 was organized in hybrid mode.
          </p>
          <h2>DoSCI 2022 Proceeding Link: </h2>
          <ul class="list-group">
              <li class="list-group-item"> 
                  <a href = "https://link.springer.com/book/9789811931499" target="_blank"> https://www.springer.com/us/book/9789811633454</a>
              </li>
          </ul>
        </div>  
      </div>
  
      <div class="col-md-4">
        <div class="box right">
            <h1 class="custom-font">Important Dates</h1>
            <hr>
  
            <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
                <% @important_dates.each do |impdate| %>
                    <b><%= impdate.title %></b>
                    <br>
                    <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                    <br><hr />
  
                <% end %>
              </marquee>
              <span> <a href="/important_dates">Read More...</a> </span>
  
        </div>
      </div>
    </div>
  </section>