<section class="sub-page" id="download">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>Downloads </h1>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <a href="http://icicc-conf.com/download?filename=Manuscript+guidelines+for+English+books.pdf">
              Manu Script Guidelines <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <a href="http://icicc-conf.com/download?filename=Checklist+%281%29.pdf">
              Checklist <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <a href="http://icicc-conf.com/download?filename=Springer+Word+Template.zip">
              Springer Word Template <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <a href="http://icicc-conf.com/download?filename=Springer+LaTeX+Template.zip">
              Springer La Tex Template <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <a href="/Paper_template_DoSCI_Elsevier.docx">
               Elsevier Word Template <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <a href="/downloads/DoSCI_2021_Elsevier_Template.pdf">
                DoSCI 2021 Elsevier Template PDF <i class="fa fa-download" aria-hidden="true"></i>
              </a>           
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <a href="/downloads/DoSCI_2021_Elsevier_Template.pptx">
              DoSCI 2021 Elsevier Template PPT <i class="fa fa-download" aria-hidden="true"></i>
              </a>              
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
            <a href="/downloads/DoSCI_2021_Springer_Template.pdf">
              DoSCI 2021 Springer Template PDF <i class="fa fa-download" aria-hidden="true"></i>
            </a>             
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
            <a href="/downloads/DoSCI_2021_Springer_Template.pptx">
              DoSCI 2021 Springer Template PPT<i class="fa fa-download" aria-hidden="true"></i>
            </a>           
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <a href="/downloads/Final_Updated_Paper_Presentation_Schedule_DOSCI.pdf">
              Final Updated Paper Presentation Schedule DOSCI <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <a href="/downloads/virtual-background-banner.jpeg">
              Virtual Background Banner <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <a href="/downloads/virtual-background-banner-two.jpeg">
              Virtual Background Banner <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <a href="/downloads/Contrubutor-Agreement.docx">
                Contrubutor Agreement <i class="fa fa-download" aria-hidden="true"></i>
              </a>            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
