<section class="sub-page" id="technicalprogramcommittee">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>Industry Experts</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
              <div class="card">
                <b>Dr. Lovneesh Chanana</b>  :  Vice President - Digital Govt., SAP<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Atar Singh</b>  :  Senior Advisor &amp; CEA. Past Director, NPTI MOP, Govt. of India.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Ms. Jyoti Dixit</b>  :  Data Scientist, ION Trading Indai Pvt. Ltd.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Gaurav Gupta</b>  :  Director - WFM JAPA, American Express (India) Pvt. Ltd.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Vineet Sagar</b>  :  Developer, Delhivery.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Manoj Sarna</b>  :  Big Data Consultant, SOL - Delhi University.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Gaurav Jaglan</b>  :  Data Scientist, Nurtr, Gurgaon<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Nikesh Kakkar</b>  :  Technology Consultant, Intelligent Platform Advisory, Accenture.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Sagar Seth</b>  :  Program Manager (Lean and Agile Deployements), COO office, Amadeus Data Processing.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Sahil Saini</b>  :  Director Enterprise Sales, Pando.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Rajat Gupta</b>  :  Lead Consultant, Wipro.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Sarvesh Gupta</b>  :  Software Engineering Manager, 4INFO.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Bhavya Bansal</b>  :  Manager - Data Solutions, Evalueserve Inc.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Himanshu Verma</b>  :  Lead Software Engineer, Adobe Systems.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Himanshu Sharma</b>  :  Application Security Specialist, ICMA - RC.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Gaurav Singhal</b>  :  Senior Associate Level 2, Publicis Sapient.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Amit Gupta</b>  :  Program Manager, TCS.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Ankush Gupta</b>  :  SAP Treasury Lead.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Harsh Puri</b>  :  Senior Product Manager, Wipro.<br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <b>Mr. Arjun Narang</b>  :  Senior Data Analyst, Ads Large Customer Sales Specialist Team, Google India.<br>
              </div>
            </div>
      </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
