<!-- new special sessions -->
<section class="sub-page" id="special_sesion">

  <div class="row">
    <div class="col-md-12">
      
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_001.pdf" target="_blank">
          <u>
            <b> 
              Blockchain Technologies for Internet of Things (IoT)
            </b>
          </u>
          <br>
          Prof. Nikhil Sharma, HMR Institute of Technology & Management, Delhi, India nikhilsharma1694@gmail.com <br>
          Prof. Siddharth Gautam, HMR Institute of Technology & Management, Delhi, India siddharthinfo92@gmail.com <br>
          Prof. Ila Kaushik, KIET Group of Institutions, Ghaziabad, India ila.kaushik.8.10@gmail.com

          <br>
          SS_001_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_002.pdf" target="_blank">
          <u>
            <b> 
              Recent advancement towards Healthcare Informatics
            </b>
          </u>
          <br>
          Dr. Neetu Sardana, JIIT, Noida, UP <br>
          Dr. Ankit Vidyarthi, JIIT, Noida, UP <br>
          Dr. Rabindra Barik, KIIT University, Odissa <br>
          Dr. Amrendra Yadav, Manipal University, Jaipur

          <br>
          SS_002_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>
</section>
