<!-- new special sessions -->
<section class="sub-page" id="special_sesion">

  <div class="row">
    <div class="col-md-12">
      
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_001.pdf" target="_blank">
          <u>
            <b> 
              Blockchain Technologies for Internet of Things (IoT)
            </b>
          </u>
          <br>
          Prof. Nikhil Sharma, HMR Institute of Technology & Management, Delhi, India nikhilsharma1694@gmail.com <br>
          Prof. Siddharth Gautam, HMR Institute of Technology & Management, Delhi, India siddharthinfo92@gmail.com <br>
          Prof. Ila Kaushik, KIET Group of Institutions, Ghaziabad, India ila.kaushik.8.10@gmail.com

          <br>
          SS_001_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_002.pdf" target="_blank">
          <u>
            <b> 
              Recent advancement towards Healthcare Informatics
            </b>
          </u>
          <br>
          Dr. Neetu Sardana, JIIT, Noida, UP <br>
          Dr. Ankit Vidyarthi, JIIT, Noida, UP <br>
          Dr. Rabindra Barik, KIIT University, Odissa <br>
          Dr. Amrendra Yadav, Manipal University, Jaipur

          <br>
          SS_002_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_003.pdf" target="_blank">
          <u>
            <b> 
             Recent Advances in Intelligent Systems and Communication & Machine Learning
            </b>
          </u>
          <br>
           Dr. Vikash Yadav, ABES Engineering College, Ghaziabad, India, vikas.yadav.cs@gmail.com

          <br>
          SS_003_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_004.pdf" target="_blank">
          <u>
            <b> 
              Advances in Image Processing, Computer Vision and Deep Learning
            </b>
          </u>
          <br>
            Dr. Swati V. Shinde, Professor, PCCoE, India, swati.shinde@pccoepune.org <br>
            Prof. Ketan Sanjay Desale, Assistant Professor, PCCOE, India, ketan.desale@pccoepune.org <br>
            Ms. Madhura M. Kalbhor, Asst. Professor, PCCoE, India, kalbhormadhura11@gmail.com

          <br>
          SS_004_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_005.pdf" target="_blank">
          <u>
            <b> 
            Recent Trends in AI: Challenges and Applications
            </b>
          </u>
          <br>
          Dr. Neethu Mohan, Assistant Professor, Centre for Computational Engineering & Networking, Amrita School of Engineering, Coimbatore, Amrita Vishwa Vidyapeetham, m_neethu@cb.amrita.edu<br>
          Dr. K P Soman, Professor & HOD, Centre for Computational Engineering & Networking, Amrita School of Engineering, Coimbatore, Amrita Vishwa Vidyapeetham kp_soman@amrita.edu <br>
          Dr. Sachin Kumar S, Assistant Professor, Centre for Computational Engineering & Networking, Amrita School of Engineering, Coimbatore, Amrita Vishwa Vidyapeetham s_sachinkumar@cb.amrita.edu <br>
          Dr. Sikha O. K., Assistant Professor (Sr.Gr.), Department of Computer Science and Engineering, Amrita School of Engineering, Coimbatore, Amrita Vishwa Vidyapeetham ok_sikha@cb.amrita.edu <br>
          Dr. Jyothish Lal G, Assistant Professor, Centre for Computational Engineering & Networking, Amrita School of Engineering, Coimbatore, Amrita Vishwa Vidyapeetham g_jyothishlal@cb.amrita.edu <br>
          Ms. Geethu Joy, Adjunct Faculty, Computer Engineering and Informatics, Middlesex University, Dubai g.joy@mdx.ac.ae
          <br>
          SS_005_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>
      
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_006.pdf" target="_blank">
          <u>
            <b> 
              Computational Linguistic and Predictive Analytics using Machine Learning
            </b>
          </u>
          <br>
            Dr. Pankaj Kumar
            Associate Professor
            Department of Computer Science & Engineering
            Sri Ramswaroop Group of Professional College (SRMGPC), Lucknow, U.P. India, pk79jan@gmail.com , pankajkumar.cs@srmcem.ac.in 
            <br>
            Dr. Atul Kumar
            Associate Professor
            Department of Computer Science & Engineering
            Sri Ramswaroop Group of Professional College (SRMGPC), Lucknow, U.P. India, atulverma16@gamil.com
          <br>
          SS_006_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>
        
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_007.pdf" target="_blank">
          <u>
            <b> 
              Applied Bioinformatics
            </b>
          </u>
          <br>
            Dr. HARISHCHANDER ANANDARAM, Assistant Professor, Centre for Excellence in Computational Engineering and Networking, Amrita Vishwa Vidyapeetham, Coimbatore, Tamil Nadu, India. a_harishchander@cb.amrita.edu

          <br>
          SS_007_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>
        
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS_008.pdf" target="_blank">
          <u>
            <b> 
              Recent Trends in Security and Controlling Application
            </b>
          </u>
          <br>
            Dr Pooja Singh, Amity University, Noida, India, pooja17ps@gmail.com <br>
            Atul Singh, IIT Patna, Bihar, India, atul.pee17@iitp.ac.in

          <br>
          SS_008_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>
        
    </div>
  </div>
</section>
