<!-- new special sessions -->
<section class="sub-page" id="special_sesion">

  <div class="row">
    <div class="col-md-12">
      
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS001_DOSCI.pdf" target="_blank">
          <u>
            <b> 
              Fault Tolerance and Software Architecture
            </b>
          </u>
          <br>
          Dr. Ratneshwer, JNU, India, Swati Goel , JNU , India
          <br>
          SS001_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>

      </div>
    </div>
  </div>
</section>
