<!-- new special sessions -->
<section class="sub-page" id="special_sesion">

  <div class="row">
    <div class="col-md-12">
      
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS001_DOSCI.pdf" target="_blank">
          <u>
            <b> 
              Fault Tolerance and Software Architecture
            </b>
          </u>
          <br>
          Dr. Ratneshwer, JNU, India, Swati Goel , JNU , India
          <br>
          SS001_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>

      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS002_DOSCI.docx">
          <u>
            <b> 
              Machine Learning & Data Science
            </b>
          </u>
          <br>
            Dr. Papri Ghosh, MAKAUT, India, paprighosh06@gmail.com
          <br>
            SS002_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>

      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS003_DOSCI.docx">
          <u>
            <b> 
              Information technology, Digitalization & Entrepreneurship
            </b>
          </u>
          <br>
            Prof Dr Ajay Kumar, GLBIMR, India<br>
            Dr Arvind Bhatt, GLBIMR, India, arvind.bhatt@glbimr.org <br>
            Vikram Sharma, GLBIMR, India, Vikram.sharma@glbimr.org
          <br>
            SS003_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS004_DOSCI.doc">
          <u>
            <b> 
              Artificial Intelligence, Wireless Communication and Network Security
            </b>
          </u>
          <br>
            Dr. Sita Rani, Gulzar  Group of Institutes ( GGI), Khanna, Punjab, INDIA. sitasaini80@gmail.com <br>
            Dr. Pankaj Bhambri, Guru Nanak Dev Engineering College ( GNDEC), Ludhiana, Punjab, INDIA.  pkbhambri@gmail.com
          <br>
            SS004_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS005.docx">
          <u>
            <b> 
              Designing Intelligent systems for Agriculture, health care and  educational organizations using Data Analytics
            </b>
          </u>
          <br>
            <b>Dr.K.G. Srinivasa</b>, Professor at National Institute of Technical Teacher Training & Research, Chandigarh;email: kgsrinivasa@gmail.com <br>
            <b>Dr.Parkavi.A </b>, Associate Professor, CSE dept, M S Ramaiah Institute of Technology, Bangalore;email : parkavi.a@msrit.edu<br>
            <b>Sini Anna Alex</b>, Assistant Professor, CSE dept, M S Ramaiah Institute of Technology, Bangalore; sinialex@msrit.edu<br>
            <b>Sowmya B J</b>, Assistant Professor, CSE dept, M S Ramaiah Institute of Technology, Bangalore;email: sowmyabj@msrit.edu
          <br>
            SS005_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS006.docx">
          <u>
            <b> 
            Decoding Real-world applications using Computational Intelligence
            </b>
          </u>
          <br>
            <b>Dr. Deepali Gupta,</b>, Chitkara University Institute of Engineering and Technology, Chitkara University, Punjab, India, deepali.gupta@chitkara.edu.in<br>
            <b> Dr. Sheifali Gupta </b>, Chitkara University Institute of Engineering and Technology, Chitkara University, Punjab, India, sheifali.gupta@chitkara.edu.in
          <br>
            SS006_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS007.docx">
          <u>
            <b> 
              Advances in Image Processing, Computer Vision and Deep Learning
            </b>
          </u>
          <br>
            Dr. Swati V. Shinde, PCCoE, India, swati.shinde@pccoepune.org <br>
            Ms. Madhura M. Kalbhor, PCCoE, India, kalbhormadhura11@gmail.com
          <br>
            SS007_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS008.pdf" target="_blank">
          <u>
            <b> 
              Role of Artificial Intelligence (AI) in Automotive Industry
            </b>
          </u>
          <br>
            Dr. Shanti Verma, Gujarat Technological University, Ahmedabad, Gujarat, India
            verma.shanti@gmail.com
          <br>
          SS008_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS009.pdf" target="_blank">
          <u>
            <b> 
            Cloud Computing, IoT based Vehicular AdHoc networks and Deep learning for Industry 4.0 Applications
            </b>
          </u>
          <br>
            Prof. (Dr.) Monika Jain, ITS Engineering College, Greater Noida, India,
            monikajain.ieee@gmail.com , hod.ece@its.edu.in <br>

            Dr. Usha Tiwari, Sharda University, Greater Noida, India,
            ushamukul@gmail.com, usha.tiwari@sharda.ac.in
          <br>
          SS009_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>
        
      
      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS010.pdf" target="_blank">
          <u>
            <b> 
                Computational Intelligence for Healthcare
            </b>
          </u>
          <br>
                 Dr. Gabriella Casalino, University of Bari, Italy, gabriella.casalino@uniba.it    <br>

                 Prof. Giovanna Castellano, University of Bari, Italy, giovanna.castellano@uniba.it <br>
            
            Dr. Katarzyna Kaczmarek-Majer, Polish Academy of Sciences, Poland,
k.kaczmarek@ibspan.waw.pl
            
          <br>
          SS010_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>


      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS011.docx">
          <u>
            <b> 
              Emerging Trends in Multimedia, IOT and signal processing based Computationally intelligent systems
            </b>
          </u>
          <br>
            Dr. Jyotsna Yadav, Asst. Professor and In-charge Signal processing Lab, University School of Information Technology, Guru Gobind Singh Indraprastha University, New-Delhi; email: jyotsnayadav@ipu.ac.in <br>
            Dr. Rajesh Mehta, Assistant Professor, Thapar Institution of Engineering and Technology, Email: rajesh.mehta@thapar.edu <br>
            Mr. Pramod kumar soni- Assistant Professor, Institute of Innovation in Technology and Management. Email:pramod.soni0007@gmail.com
          <br>
            SS011_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS012.docx">
          <u>
            <b> 
              Intelligent Decisions for Multimedia Data Science & Analytics
            </b>
          </u>
          <br>
            Dr. Ruchi Agarwal JIMS Engineering Management Technical Campus, Greater Noida (Affiliated to Guru Gobind Singh Indraprastha University, Delhi) India dr.ruchi@outlook.com <br>
            Dr. Ankit Vidyarthi, Jaypee Institute of Information Technology, Noida, India dr.ankit.vidyarthi@gmail.com
          <br>
            SS012_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS013.pdf" target="_blank">
          <u>
            <b> 
              Big Data for Industry 4.0: Applications & Challenges
            </b>
          </u>
          <br>
             Dr Sandhya Makkar, Sr Assistant Professor(Operations) & Area Convener (Logistics & Supply Chain Management), Lal bahadur Shastri Institute of Management, Delhi, India. bajajsandhya@gmail.com <br>
             Dr.R. Gobinath, Professor and Head, Department of Civil Engineering SR University, Civil Engineering, Warangal, India, gobinathdpi@gmail.com
          <br>
          SS013_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS014.pdf" target="_blank">
          <u>
            <b> 
              Innovative Trends in Data Science, Green Computing, Natural Language Processing using Machine Learning Techniques
            </b>
          </u>
          <br>
              Dr. Archana Purwar, Jaypee Institute of Information Technology, Noida, India archana.purwar@gmail.com <br>
              Dr. Arti Jain, Jaypee Institute of Information Technology, Noida, Indiaajain.jiit@gmail.com
          <br>
          SS014_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card new_card_details ">
          <a href="/special-sessions/SS015.docx">
          <u>
            <b> 
              Medical applications in Big Data using deep learning algorithms
            </b>
          </u>
          <br>
            Dr. S. Vimal, Department of Information Technology, National Engineering College, K.R.Nagar, Kovilpatti, Thoothukudi District, Tamil Nadu, India. svimalphd@gmail.com  <br>
            Dr.Manju Khari, Ambedkar Institute of Advanced Communication Technologies & Research Govt. Of NCT of Delhi, <br>
            Dr. A. Suresh, Department of Computer Science and Engineering, Nehru Institute of Engineering and Technology, T.M.Palayam, Coimbatore. 641105 Tamil Nadu, India <br>
            Dr. Y. Harold Robinson, School of Information Technology and Engineering, Vellore Institute of Technology, Vellore, India
          <br>
            SS015_DOSCI <i class="fa fa-download" aria-hidden="true"></i>
        </div>
      </div>



    </div>
  </div>
</section>
